<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UGD</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{ judul }}</h1>

        <p>{{ keterangan }}</p>

        <div v-if="chance == 0">
            Yah, kesempatan kamu habis X(
            <br>
            Mau main lagi?
            <br>
            <button @click="ulang">Lagi</button>
        </div>
        <div v-else>
            <div>
                <input v-model="nomor" placeholder="masukkan angka..." :disabled="disable == 1"/>
                <button @click="tebak" :disabled="disable == 1">Tebak</button>
            </div>

            <p>Kunci jawaban : {{ ans }}</p>

            <span v-if="isi == 1">
                Selamat, tebakan kamu benar :D
                <br>
                <button @click="ulang">Main lagi?</button>
            </span>
            <span v-else-if="isi == 0">
                Tebakan kamu salah :(
                <br>
                Kesempatan : {{ chance }}
            </span>
        </div>
       
        <p>{{ footer.nama }} | {{ footer.npm }} | {{ footer.kelas }}</p>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            judul: "Tebak Angka",
            keterangan: "Tebaklah angka dari 1-10",
            nomor: 0,
            chance: 3,
            isi: -1,
            disable: 0,
            ans: Math.floor((Math.random() * 10) + 1),
            footer: {
                nama: 'Bastoto Aldinari Ginting',
                npm: '180710014',
                kelas: 'PAW B'
            }
        },
        methods: {
            tebak() {
                if(this.nomor == this.ans){
                    this.isi = 1;
                    this.disable = 1;
                }
                else{
                    this.chance--;
                    this.isi = 0;
                }
            },
            ulang() {
                this.disable = 0;
                this.nomor = 0;
                this.chance = 3;
                this.isi = -1;
                this.ans = Math.floor((Math.random() * 10) + 1);
            },
        },
    })
</script>
</html>